asgiref==3.8.1
asttokens==2.4.1
cachetools==5.3.3
chardet==5.2.0
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
Django==5.0.6
dnspython==2.6.1
executing==2.0.1
filelock==3.15.4
ipython==8.26.0
jedi==0.19.1
matplotlib-inline==0.1.7
numpy==2.0.0
packaging==24.1
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pymongo==4.8.0
pyproject-api==1.7.1
six==1.16.0
sqlparse==0.5.0
stack-data==0.6.3
tox==4.16.0
traitlets==5.14.3
typing_extensions==4.12.2
virtualenv==20.26.3
wcwidth==0.2.13
